@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Big Shoulders Display', cursive;
    font-family: 'Lexend Deca', sans-serif;
}

:root {

    --Bright-orange: hsl(31, 77%, 52%);
    --Dark-cyan: hsl(184, 100%, 22%);
    --Very-dark-cyan: hsl(179, 100%, 13%);

    --Transparent-white-paragraphs: hsla(0, 0%, 100%, 0.75);
    --Very-light-gray-background-headings-buttons: hsl(0, 0%, 95%);
}

.attribution {
    display: none;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
.container{
    /* border: 2px solid red; */
    display: flex;
    flex-flow: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
main{
    /* border: 2px solid rgb(98, 0, 255); */
    display: grid;
    grid-template-columns: 290px 290px 290px;
    justify-content: start;
    border-radius: 10px;
    overflow: hidden;

}
main div {
    color: var(--Transparent-white-paragraphs);
    display: flex;
    flex-direction: column;
    padding: 45px 34px;
}
main .sedans {
    background: hsl(31, 77%, 52%);
}
main .suv {
    background: hsl(184, 100%, 22%);
}
main .luxury {
    background: hsl(179, 100%, 13%);
}

main  h6 {
    color: var(--Very-light-gray-background-headings-buttons);
    font-size: 40px;
    text-transform: uppercase;
    padding: 25px 0 25px 0;
    font-family: "Big Shoulders Display";
}
main span{
    line-height: 25px;
}

main div a {
    text-decoration: none;
    background: white;
    padding: 10px 15px 10px 15px;
    border-radius: 25px;
    text-align: center;
    max-width: fit-content;
    border: 2px solid wheat;
    margin: 90px 0 25px 0;
}
main .sedans a {
    color: var(--Bright-orange);
}
main .sedans a:hover,
a:active {
    background-color: var(--Bright-orange);
    color: white;
}
main .suv a:hover,
a:active {
    background-color: var(--Dark-cyan);
    color: white;
}
main .luxury a:hover,
a:active {
    background-color: var(--Very-dark-cyan);
    color: white;
}


main img {
    width: 70px;
}
@media only screen and (max-width: 986px) {
     main{
        grid-template-columns: repeat(auto-fit, minmax(250px, 752px));
        /* for scroll */
        overflow: auto;
    }

}